.card {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
  }

  /* Card.module.css */
.card {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 1rem; /* Add padding for inner content if needed */
    /* Add any additional styling properties as needed */
  }
  